.section {
  height: 21rem;
  width: 16rem;
}

.card {
  align-content: center;
  align-items: center;
  background-color: var(--light-grey);
  border-radius: 1em;
  box-shadow: 2px 2px 5px var(--dark-blue);
  display: flex;
  flex-direction: column;
  height: 26rem;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
  width: 100%;
}

.buttonImage {
  border: none;
}

.image {
  border-radius: 1rem;
  margin-bottom: 0.8rem;
  width: 30%;
}

span {
  font-size: 1.3rem;
  margin: 0;
}

.divNameShare {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.divNameShare button {
  align-items: center;
  border: none;
  display: flex;
  font-size: 2rem;
}

.divNameShare p {
  font-size: 1rem;
  margin: 0;
}

.doneDate {
  font-size: medium;
  margin: 0;
  padding-top: 0.6rem;
}

.divTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.tags {
  background-color: var(--dark-blue);
  border: none;
  border-radius: 0.8rem;
  color: var(--light-grey);
  font-size: 0.9rem;
  margin: 0.1rem;
  padding: 0.4rem;
}
