.form {
  display: flex;
  flex-direction: row;
  height: 8vh;
  padding-top: 2rem;
}

.button {
  align-items: center;
  background-color: var(--accent-color);
  border: none;
  border-radius: 0.6rem;
  color: var(--light-grey);
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 20%;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 2rem;
}
