.search_button {
  background: var(--accent-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--main-color);
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0.5rem;
}

.search_bar {
  align-items: center;
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
}

.checkbox_container {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.search_input {
  border: none;
  border-radius: 0.5rem;
  color: var(--secondary-color);
  padding: 0.5rem;
  width: 80%;
}

.items {
  border: none;
}
