.selected, .unselected {
  background-color: inherit;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font: inherit;
  font-size: 2rem;
  outline: inherit;
  padding: 0.5rem;
}

.selected {
  background-color: var(--accent-color);
  color: var(--main-color);
}
