.card_ingredients {

  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  background-color: var(--main-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 1rem;
}
