.explore_container {
  background-color: var(--light-grey);
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  height: 200px;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 99%;
}

.buttons {
  background-color: var(--main-color);
  border-radius: 1rem;
  box-shadow: 2px 2px 5px var(--dark-blue);
  box-sizing: border-box;
  color: var(--dark-blue);
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 1rem;
  text-decoration: inherit;
  transition-duration: 0.4s;
  width: 100%;
}

.buttons:hover {
  background-color: var(--accent-color);
  color: var(--main-color);
}