html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-color: #FFFF;
  --secondary-color: #090707;
  --light-grey: #F3F3F4;
  --accent-color: #CF3E1B;
  --dark-blue: #0F172B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  margin-bottom: 2.4rem;
}
