.card_btn {
  background-color: var(--light-grey);
  border-radius: 1rem;
  box-shadow: 2px 2px 5px var(--dark-blue);
  box-sizing: border-box;
  color: var(--dark-blue);
  height: 18rem;
  margin-bottom: 1rem;
  padding: 1rem;
  text-decoration: inherit;
  transition-duration: 0.2s;
  width: 15rem;
}

.card_btn:hover {
  background-color: var(--main-color);
}

.ingredient_img {
  width: 10rem;
}
