.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container_carrousel {
  display: flex;
  overflow: scroll;
}

.container_carrousel li {
  height: 20rem;
  width: 20rem;
}

.button_start {
  bottom: 0;
  position: fixed;
}

.button_share, .heart {
  width: 10rem;
}

.button_start, .button_share {
  background: var(--accent-color);
  border: none;
  border-radius: 0.5rem;
  color: var(--main-color);
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0.5rem;
}

.buttons_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.images {
  width: 100%;
}

.title {
  margin: 2rem;
}
